Repository YAPP-Github/TnT-iOS, pull requests merged in 2025-02, with the labels that each got.

#47 [TNT-205] AlarmCheck 화면 작성
  TnT/Projects/Domain/Sources/Entity/AlarmItemEntity.swift
  TnT/Projects/Domain/Sources/Entity/AlarmType.swift
  TnT/Projects/Domain/Sources/Policy/TDateFormat.swift
  TnT/Projects/Presentation/Sources/Alarm/AlarmCheckFeature.swift
  TnT/Projects/Presentation/Sources/Alarm/AlarmCheckView.swift
  TnT/Projects/Presentation/Sources/Extension/Date+.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/AlarmItemEntity.swift
Labels: ✨Feat

#49 [TNT-206] TraineeMyPage 작성, TToast 작성
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TPopUpAlertState.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TPopUpAlertView.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TPopUpModifier.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TToastModifier.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TToastView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageView.swift
Labels: ✨Feat

#50 [TNT-206] TraineeMyPage, TraineeInvitationCodeInput 화면 팝업 작성
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeInvitationCodeInput/TraineeInvitationCodeInputFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeInvitationCodeInput/TraineeInvitationCodeInputView.swift
Labels: ✨Feat

#54 [Feat] 트레이너 마이페이지, 홈 캘린더 화면 작성
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerTargetType.swift
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_empty.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_empty.imageset/icn_plus_empty.svg
  TnT/Projects/DesignSystem/Sources/DesignSystem/Image+DesignSystem.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/GetReissuanceInvitationCodeDTO.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/GetTheFirstInvitationCodeDTO.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerHomeResponseDTO.swift
  TnT/Projects/Domain/Sources/Policy/TDateFormat.swift
  TnT/Projects/Domain/Sources/Repository/TrainerRepository.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerMypageFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerMypageView.swift
  TnT/Projects/TnTApp/Sources/ContentView.swift
Labels: ✨Feat

#44 [TNT-158] postSingIn 구현 완료
  .gitignore
  TnT/.gitignore
  TnT/Projects/DIContainer/Sources/DIContainer.swift
  TnT/Projects/Data/Sources/Network/Service/SocialLogin/SocialLogInRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/User/UserRepositoryImpl.swift
  TnT/Projects/Domain/Sources/Entity/SocailLoginEntity.swift
  TnT/Projects/Domain/Sources/Mapper/PostSocialMapper.swift
  TnT/Projects/Domain/Sources/Repository/SocialLoginRepository.swift
  TnT/Projects/Domain/Sources/UseCase/SocialLoginUseCase.swift
  TnT/Projects/Domain/Sources/UseCase/UserUseCase.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/OnboardingFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/OnboardingView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Code/MakeInvitationCodeFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Code/MakeInvitationCodeView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectedTraineeProfileFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectedTraineeProfileView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectionCompleteFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectionCompleteView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Profile/TrainerSignUpCompleteFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Profile/TrainerSignUpCompleteView.swift
  TnT/Projects/TnTApp/Sources/TnTApp.swift
  TnT/Projects/TnTApp/TnTApp.entitlements
  TnT/Tuist/Package.resolved
  TnT/Tuist/Package.swift
  TnT/Tuist/ProjectDescriptionHelpers/Dependency/DependencyInformation.swift
  TnT/Tuist/ProjectDescriptionHelpers/Dependency/ExternalDependency.swift
  TnT/Tuist/ProjectDescriptionHelpers/Project/Target+Templates.swift
Labels: ✨Feat

#57 [TNT-208] App Coordinator 로직 작성
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorView.swift
  TnT/Projects/Presentation/Sources/Coordinator/OnboardingFlow/OnboardingFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/OnboardingFlow/OnboardingFlowView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowView.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainee/TraineeMainTabFeature.swift
Labels: ✨Feat

#59 [TNT-214] TrainerAddPTSession 관련 신규 디자인 컴포넌트 추가
  TnT/Projects/DesignSystem/Sources/Components/BottomSheet/AutoSizingBottomSheetModifier.swift
  TnT/Projects/DesignSystem/Sources/Components/Calendar/TCalendarCell.swift
  TnT/Projects/DesignSystem/Sources/Components/Calendar/TCalendarRepresentable.swift
  TnT/Projects/DesignSystem/Sources/Components/Calendar/TCalendarType.swift
  TnT/Projects/DesignSystem/Sources/Components/Calendar/TCalendarView.swift
  TnT/Projects/DesignSystem/Sources/Components/DatePickerView/TDatePickerView.swift
  TnT/Projects/DesignSystem/Sources/Components/TimePicker/FlatPickerColumn.swift
  TnT/Projects/DesignSystem/Sources/Components/TimePicker/RowPreference.swift
  TnT/Projects/DesignSystem/Sources/Components/TimePicker/TTimePicker.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeView.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeBasicInfoInput/TraineeBasicInfoInputView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeTrainingInfoInput/TraineeTrainingInfoInputView.swift
Labels: ✨Feat

#60 [TNT-214] 트레이너 PT 일정 추가 화면 작성
  TnT/Projects/DesignSystem/Sources/Components/TextField/TTextEditor.swift
  TnT/Projects/DesignSystem/Sources/Components/TextField/TTextField.swift
  TnT/Projects/DesignSystem/Sources/Components/TimePicker/TTimePicker.swift
  TnT/Projects/DesignSystem/Sources/Components/TimePickerView/TTimePickerView.swift
  TnT/Projects/Domain/Sources/Entity/TraineeListItemEntity.swift
  TnT/Projects/Domain/Sources/Policy/TDateFormat.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionFeature.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionView.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerSelectSessionTraineeView.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeRecordStartView.swift
Labels: ✨Feat

#65 [TNT-221] API 포함 결과 처리 관련 오버레이 UI 로직 작성
  TnT/Projects/Data/Sources/Network/Interceptor/Implements/ProgressIndicator.swift
  TnT/Projects/Data/Sources/Network/NetworkService.swift
  TnT/Projects/Data/Sources/Network/Service/Trainee/TraineeTargetType.swift
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerTargetType.swift
  TnT/Projects/Data/Sources/Network/Service/User/UserTargetType.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TPopUpModifier.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TToastModifier.swift
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TToastView.swift
  TnT/Projects/Domain/Sources/Entity/Toast.swift
  TnT/Projects/Domain/Sources/Extension/Notification+.swift
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorView.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeFeature.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainee/TraineeMainTabFeature.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainee/TraineeMainTabView.swift
  TnT/Projects/Presentation/Sources/PresentationSoureDummy.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/ToastPresentType.swift
  TnT/Projects/Presentation/Sources/Utility/ScreenOverlay/OverlayContainer.swift
  TnT/Projects/Presentation/Sources/Utility/ScreenOverlay/OverlayManager.swift
Labels: ✨Feat

#69 [TNT-221] 전체 화면 흐름 관련 보완 로직 작성
  TnT/Projects/Data/Sources/Network/NetworkService.swift
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/AppIcon.appiconset/LOGO.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash1x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash2x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash3x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash@2x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Images/img_app_splash.imageset/img_app_splash@3x.png
  TnT/Projects/DesignSystem/Sources/Components/PopUp/TPopUpAlertView.swift
  TnT/Projects/Domain/Sources/Extension/Notification+.swift
  TnT/Projects/Domain/Sources/Policy/AppLinks.swift
  TnT/Projects/Domain/Sources/Policy/AppStorage.swift
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowView.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeView.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerMypageFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Code/MakeInvitationCodeView.swift
  TnT/Projects/Presentation/Sources/Splash/SplashView.swift
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/LOGO.png
Labels: ✨Feat

#62 [TNT-213] 트레이너 회원목록 페이지 작성
  TnT/Projects/DIContainer/Sources/DIContainer.swift
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerTargetType.swift
  TnT/Projects/DesignSystem/Sources/Navigation/TNavigation.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/GetMembersListDTO.swift
  TnT/Projects/Domain/Sources/Entity/GetMembersListEntity.swift
  TnT/Projects/Domain/Sources/Policy/Extension/Date+.swift
  TnT/Projects/Domain/Sources/Policy/Extension/String+.swift
  TnT/Projects/Domain/Sources/Repository/TrainerRepository.swift
  TnT/Projects/Domain/Sources/UseCase/TrainerUseCase.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerManagementView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerManagmentFeature.swift
Labels: ✨Feat

#79 [TNT-227] Trainer API 최신화 작성
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerTargetType.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerRequestDTO.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerResponseDTO.swift
  TnT/Projects/Domain/Sources/Repository/TrainerRepository.swift
Labels: ✨Feat

#74 [TNT-158] FCM 구현
  TnT/Projects/Data/Sources/LocalStorage/KeyChainManager.swift
  TnT/Projects/Data/Sources/Network/Service/SocialLogin/SocialLogInRepositoryImpl.swift
  TnT/Projects/Domain/Sources/DTO/User/UserResponseDTO.swift
  TnT/Projects/Domain/Sources/Entity/SocailLoginEntity.swift
  TnT/Projects/Domain/Sources/Mapper/PostSocialMapper.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/LoginFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermFeature.swift
  TnT/Projects/TnTApp/Sources/Application/AppDelegate.swift
  TnT/Projects/TnTApp/Sources/Application/NotificationManager.swift
  TnT/Projects/TnTApp/Sources/TnTApp.swift
  TnT/Projects/TnTApp/TnTApp.entitlements
  TnT/Tuist/Config/Info.plist
  TnT/Tuist/ProjectDescriptionHelpers/Dependency/DependencyInformation.swift
Labels: ✨Feat

#73 [TNT-227] 트레이니 식단 기록 화면 작성
  TnT/Projects/DesignSystem/Sources/Components/TextField/TTextEditor.swift
  TnT/Projects/Domain/Sources/Entity/DietType.swift
  TnT/Projects/Domain/Sources/Entity/RecordType.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordFeature.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordView.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowView.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeView.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/DietType.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/RecordType.swift
Labels: ✨Feat

#75 [TNT-227] 트레이니 식단 등록 화면 API 연결
  TnT/Projects/Data/Sources/Network/Service/Trainee/TraineeRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/Trainee/TraineeTargetType.swift
  TnT/Projects/Domain/Sources/DTO/Trainee/TraineeRequestDTO.swift
  TnT/Projects/Domain/Sources/DTO/Trainee/TraineeResponseDTO.swift
  TnT/Projects/Domain/Sources/Entity/DietType.swift
  TnT/Projects/Domain/Sources/Policy/TDateFormat.swift
  TnT/Projects/Domain/Sources/Repository/TraineeRepository.swift
  TnT/Projects/Domain/Sources/UseCase/TraineeUseCase.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordFeature.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/DietType.swift
Labels: ✨Feat

#76 [TNT-227] 트레이니 식단 기록 상세 확인 화면 작성
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordFeature.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordView.swift
  TnT/Projects/Presentation/Sources/DietRecordDetail/TraineeDietRecordDetailFeature.swift
  TnT/Projects/Presentation/Sources/DietRecordDetail/TraineeDietRecordDetailView.swift
  TnT/Projects/Presentation/Sources/PresentationSupport/DietType.swift
Labels: ✨Feat

#81 [TNT-233] 트레이너 수업 추가 화면 API, 화면 흐름 연결 완료
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_clock_red.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_clock_red.imageset/icn_clock_red.svg
  TnT/Projects/DesignSystem/Sources/Components/TextField/TTextEditor.swift
  TnT/Projects/DesignSystem/Sources/DesignSystem/Image+DesignSystem.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerRequestDTO.swift
  TnT/Projects/Domain/Sources/Extension/Date+.swift
  TnT/Projects/Domain/Sources/Extension/String+.swift
  TnT/Projects/Domain/Sources/Mapper/TrainerMapper.swift
  TnT/Projects/Domain/Sources/UseCase/TrainerUseCase.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionFeature.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionView.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerSelectSessionTraineeView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
Labels: ✨Feat

#82 [TNT-232] 트레이니, 트레이너 마이페이지 + 앱 내 트레이너/트레이니 연결 여부 반영
  TnT/Projects/Data/Sources/Network/Service/User/UserRepositoryImpl.swift
  TnT/Projects/Data/Sources/Network/Service/User/UserTargetType.swift
  TnT/Projects/Domain/Sources/DTO/User/UserResponseDTO.swift
  TnT/Projects/Domain/Sources/Entity/MyPageEntity.swift
  TnT/Projects/Domain/Sources/Mapper/UserMapper.swift
  TnT/Projects/Domain/Sources/Policy/AppStorage.swift
  TnT/Projects/Domain/Sources/Repository/UserRepository.swift
  TnT/Projects/Domain/Sources/UseCase/UserUseCase.swift
  TnT/Projects/Presentation/Sources/Coordinator/AppFlow/AppFlowCoordinatorFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainee/TraineeHomeFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageFeature.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerMypageFeature.swift
Labels: ✨Feat

#86 [TNT-213] 트레이너 회원 목록 화면 연결
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerRepositoryImpl.swift
  TnT/Projects/DesignSystem/Sources/Navigation/TNavigation.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerResponseDTO.swift
  TnT/Projects/Domain/Sources/Entity/TraineeListItemEntity.swift
  TnT/Projects/Domain/Sources/Repository/TrainerRepository.swift
  TnT/Projects/Domain/Sources/UseCase/TrainerUseCase.swift
  TnT/Projects/Presentation/Sources/Alarm/AlarmCheckView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowView.swift
  TnT/Projects/Presentation/Sources/GestureNavigation/GestureNavigation.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainer/TrainerMainTabFeature.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainer/TrainerMainTabView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerManagmentFeature.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/TrainerManagementView.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/TrainerManagmentFeature.swift
Labels: ✨Feat

#87 [TNT-213] 트레이너 회원 목록에서 회원 초대 연결 & 트레이너 캘린더 API연결
  TnT/Projects/Data/Sources/Network/Service/Trainer/TrainerRepositoryImpl.swift
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_check_mark_green.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_check_mark_green.imageset/icn_check_mark_green.svg
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_gray.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_gray.imageset/icn_plus_gray.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_gray.imageset/icn_plus_gray@2x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_gray.imageset/icn_plus_gray@3x.png
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_white.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_plus_white.imageset/icn_plus_white.svg
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_write_gray.imageset/Contents.json
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_write_gray.imageset/icn_write_gray.svg
  TnT/Projects/DesignSystem/Sources/Components/Calendar/TCalendarRepresentable.swift
  TnT/Projects/DesignSystem/Sources/DesignSystem/Image+DesignSystem.swift
  TnT/Projects/Domain/Sources/DTO/Trainer/TrainerHomeResponseDTO.swift
  TnT/Projects/Domain/Sources/Repository/TrainerRepository.swift
  TnT/Projects/Domain/Sources/UseCase/TrainerUseCase.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowView.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainer/TrainerMainTabFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/LoginFeature.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/AddTraineeFeature.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/AddTraineeView.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/TrainerManagementView.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/TrainerManagmentFeature.swift
Labels: ✨Feat

#90 [TNT-254] commonQA 완료
  TnT/Projects/DesignSystem/Sources/Button/TBottomButton.swift
  TnT/Projects/DesignSystem/Sources/Components/DatePickerView/TDatePickerView.swift
  TnT/Projects/Domain/Sources/Entity/ConnectedTraineeProfileEntity.swift
  TnT/Projects/Domain/Sources/Mapper/TrainerMapper.swift
  TnT/Projects/Domain/Sources/Policy/AppLinks.swift
  TnT/Projects/Domain/Sources/Policy/UserPolicy.swift
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordView.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionView.swift
  TnT/Projects/Presentation/Sources/Alarm/AlarmCheckView.swift
  TnT/Projects/Presentation/Sources/Coordinator/OnboardingFlow/OnboardingFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TraineeMainFlow/TraineeMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Extension/CGFloat+.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/LoginView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermView.swift
  TnT/Projects/Presentation/Sources/Onboarding/CreateProfile/CreateProfileView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeBasicInfoInput/TraineeBasicInfoInputFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeBasicInfoInput/TraineeBasicInfoInputView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeConnectionComplete/TraineeConnectionCompleteView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeInvitationCodeInput/TraineeInvitationCodeInputView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineePrecautionInput/TraineePrecautionInputView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeProfileCompletion/ProfileCompletionView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeTrainingInfoInput/TraineeTrainingInfoInputFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeTrainingInfoInput/TraineeTrainingInfoInputView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeTrainingPurpose/TraineeTrainingPurposeFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainee/TraineeTrainingPurpose/TraineeTrainingPurposeView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Code/MakeInvitationCodeFeature.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Code/MakeInvitationCodeView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectedTraineeProfileView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Trainer/Login/Connection/ConnectionCompleteView.swift
  TnT/Projects/Presentation/Sources/Onboarding/UserTypeSelection/UserTypeSelectionView.swift
  TnT/Projects/Presentation/Sources/Utility/BottomViewFixer.swift
  TnT/Projects/Presentation/Sources/Utility/Debouncer.swift
  TnT/Projects/Presentation/Sources/Utility/ProportionalViewModifier.swift
  TnT/Projects/Presentation/Sources/Utility/ScreenOverlay/OverlayContainer.swift
Labels: 🛠️Fix, ✨Feat, 🧹Chore

#91 [TNT-210] 트레이너 캘린더 데이터 연동 및 캐싱 처리 및 QA 적용
  TnT/Projects/DesignSystem/Resources/Assets.xcassets/Icons/icn_delete_24.imageset/Contents.json
  TnT/Projects/DesignSystem/Sources/Navigation/TNavigation.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionFeature.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerSelectSessionTraineeView.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowFeature.swift
  TnT/Projects/Presentation/Sources/Coordinator/TrainerMainFlow/TrainerMainFlowView.swift
  TnT/Projects/Presentation/Sources/Feedback/TrainerFeedbackFeature.swift
  TnT/Projects/Presentation/Sources/Feedback/TrainerFeedbackView.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/CheckTrainerInvitationCodeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/CheckTrainerInvitationCodeView.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
  TnT/Projects/Presentation/Sources/MainTab/TabBar/TabInfo.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainer/TrainerMainTabFeature.swift
  TnT/Projects/Presentation/Sources/MainTab/Trainer/TrainerMainTabView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainee/TraineeMyPageView.swift
  TnT/Projects/Presentation/Sources/MyPage/Trainer/TrainerMypageView.swift
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermView.swift
  TnT/Projects/Presentation/Sources/TrainerManagement/TrainerManagementView.swift
Labels: 🛠️Fix, ♻️Refactor, ✨Feat, 🧹Chore

#95 [TNT-256] 프로젝트 세팅 변경
  TnT/Projects/Presentation/Sources/Onboarding/Common/TermView.swift
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  TnT/Projects/TnTApp/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  TnT/Tuist/Config/Info.plist
  TnT/Tuist/ProjectDescriptionHelpers/Environment/Environment.swift
Labels: 🧹Chore

#97 [TNT-254] 실시간 QA 반영
  TnT/Projects/Presentation/Sources/AddDietRecord/TraineeAddDietRecordFeature.swift
  TnT/Projects/Presentation/Sources/AddPTSession/TrainerAddPTSessionFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeFeature.swift
  TnT/Projects/Presentation/Sources/Home/Trainer/TrainerHomeView.swift
Labels: ✨Feat
